.sparkling-modal-container { }

.sparkling-modal-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: opacity 0.3s;
}

.sparkling-modal-overlay.on {
    opacity: 1;
}

.sparkling-modal-frame {
    background: #fff;
    border: 0px solid #000;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    
    z-index: 1000;
    position: fixed;
    display: inline-block;
    left: 50%;
    top: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.sparkling-modal-frame.visible {
    opacity: 1;
}

.sparkling-modal-title {
    background: #f5f3ef;
    position: relative;
}

.sparkling-modal-title span {
	font-size: 20px;
	padding: 20px;
	line-height: 20px;
    display: inline-block;
}

.sparkling-modal-close {
	cursor: pointer;
    height: 100%;
    width: 75px;
    position: absolute;
    top: 0;
    right: 0;
    transition: background 0.2s;
}

.sparkling-modal-close:hover { background: #e0ddd6; }

.sparkling-modal-content { padding: 20px; }

.sparkling-modal-content > iframe {
    /*height: 0;
    transition: height 0.2s;*/
}

.i-close {
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotate(45deg);
}

.i-close-h {
    position: relative;
    height: 1px;
    width: 19px;
    background: #777;
    top: 50%;
    left: 50%;
    margin-left: -9px;
}

.i-close-v {
    position: relative;
    height: 19px;
    width: 1px;
    background: #777;
    top: 50%;
    margin-top: -10px;
    left: 50%;
}